.DS_Store
*.zip
*.sh
*.e*
*core*
*.so
*.c
*.out
*__pycache__*
*/build/*
*/results/*
*.txt
*.swp
output/*
scripts/inputs/*
*.npy
!input-template-no-comments.dat
!input-template-with-comments.dat
!plot-template-no-comments.dat
!plot-template-with-comments.dat
docs/*
!/docs/*.tex
!/docs/Cases/
/docs/Cases/.DS_Store
!/docs/Cases/MMS/
/docs/Cases/MMS/*
!/docs/Cases/deBoer/
/docs/Cases/deBoer/*
!/docs/Cases/Shock/
docs/Cases/Shock/*
!/docs/Cases/MMS/input.tex
!/docs/Cases/deBoer/input.tex
!/docs/Cases/Shock/input.tex
TestResult_summary
plot-testing/*
